

<footer>
    <div class="container text-center">
    	<p>Venda.la é desenvolvido pela ComunicaWeb. Fundada em 2005 com foco em Soluções Web, desde 2009 concentra seus esforços em operações de e-commerce.</p><hr>
    	<p>© 2020 Venda.la Todos os direitos reservados</p>
    </div>
</footer>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" ></script>
<script src="bower_components/lightbox2/dist/js/lightbox.min.js" ></script>
<script src="bower_components/slick-carousel/slick/slick.js" ></script>
<script src="bower_components/alertifyjs/dist/js/alertify.js" ></script>
<script src="assets/js/utils.js" ></script>
<script src="assets/js/script.js" ></script>
<!-- Scripts adicionados por páginas -->
{loop="$scripts"}
<script src="assets/js/{$value}" ></script>
{/loop}

</body>
</html>