<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<meta name="theme-color" content="#013243">
	<title>Vendala</title>
	
	<meta name="author" content="">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="copyright" content="Vendala" />

	<link rel="shortcut icon" href="" />

	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/fontawesome/css/all.css">
	<link rel="stylesheet" href="bower_components/lightbox2/dist/css/lightbox.min.css">
	<link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css">
	<link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css">
	<link rel="stylesheet" href="bower_components/alertifyjs/dist/css/alertify.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body id="page-top">

    <nav class="navbar navbar-default fixed-top navbar-expand-lg navbar-light ">
        <div class="container">
            <a class="navbar-brand" href="./">
                <img src="assets/img/logo-white.png" alt="LOGO" class="d-none d-md-block">
                <img src="assets/img/logo-nav-solo-sm.png" alt="LOGO" class="d-lg-none d-md-none">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav navbar-right ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Cadastro de Produtos</a>
                    </li>					               
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Lista de Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Sair</a>
                    </li>    
                </ul>
            </div>
        </div><!-- container -->
    </nav><!-- navbar -->
    
